.todoList {
    display: flex;
}
.todoListContainer {
    margin-top: 20px;
}
.heder {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    font: inherit;
    color: var(--clr-gb-3);
    background: transparent;
    height: 2.5rem;
    border: 0.1rem solid var(--clr-gb-5);
    border-radius: 12px;
    padding: 6px 16px 6px 16px;
    margin-top: 16px;
    margin: auto;
}
.list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}