.creatorContainer {
  display: flex;
  justify-content: space-between;
  color: var(--clr-gb-2);
  max-width: 660px;
  background-color: var(--clr-card-bg);
  padding: 22px;
  border-radius: 12px;
}
.creatorContainer:hover, .creatorContainer:focus {
  box-shadow: var(--clr-box-shadow1);
  transition: box-shadow 0.2s ease;
}
.addIcon {
  margin-right: 6px;
}
.title {
  font: inherit;
  font-size: 16px;
  background: transparent;
  outline: none;
  border: 0.1rem solid var(--clr-gb-5);
  border-radius: 12px;
  color: var(--clr-gb-2);
  padding: 8px;
  margin-right: 20px;
}
.form {
  display: flex;
  justify-content: center;
}
.button {
  margin-top: 25px;
  margin-left: auto;
}