.nameApp {
  color: var(--clr-white);
  letter-spacing: 1.2rem;
  font-weight: var(--fw-bold);
  font-size: calc(var(--base-font) * 2.5);
}
.container {
  margin-left: 40px;
}
.deletIcon {
  margin: 6px 4px 8px 6px;
}
.button {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
