@import-normalize;

:root {
  --ff-sans: "Josefin Sans", sans-serif;
  --base-font: 1.6rem;
  --midium-font: 18px;
  --small-font: 16px;
  --xs-font: 12px;
  --fw-normal: 400;
  --fw-bold: 700;
  --img-bg: url("../src/images/bg-desktop-dark.jpg");
  --clr-primary: hsl(0, 0%, 98%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-page-bg: hsl(235, 21%, 11%);
  --clr-card-bg: hsl(237, 23%, 18%);
  --clr-blue: hsl(220, 98%, 61%);
  --clr-green: hsl(192, 100%, 67%);
  --clr-pink: hsl(280, 87%, 65%);
  --clr-gb-1: hsl(236, 33%, 92%);
  --clr-gb-2: hsl(234, 39%, 75%);
  --clr-gb-3: hsl(234, 11%, 52%);
  --clr-gb-4: hsl(237, 12%, 36%);
  --clr-gb-5: hsl(233, 20%, 33%);
  --clr-gb-6: hsl(235, 23%, 29%);
  --clr-gb-7: hsl(235, 19%, 24%);
  --clr-box-shadow: hsl(0, 0%, 0%, 0.1);
  --clr-box-shadow1: 0 10px 18px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  body {
    font: var(--fw-normal) var(--base-font) var(--ff-sans);
    background: var(--clr-page-bg) var(--img-bg) no-repeat 0% 0% / 100vw;
    padding-top: 2rem;
    min-height: 100%;
}


